
.carrusel img{
    width: 100%;
    height: 400px;
}

.menu-container{    
    display:flex;
    background-color: #333;
}

.content-container h1{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content-container p{
    margin-left: 380px;
    margin-right: 70px;
    width: 50%;
    text-align: center;
}

.pie-pagina{
    width: 100%;
    background-color: #282525;
}
.pie-pagina .g1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .g1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}
.pie-pagina .g1 .box figure img{
    width: 200px;
    border: 3px solid black;
    border-radius: 50% / 75% 50%;
}

.pie-pagina .g1 .box p{
    color: #efefef;
    margin-bottom: 10px;
    text-align: justify;
    max-width: 100%;
    font-size: 10px;
}

.pie-pagina .g1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .g1 .redes-sociales a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-left: 10px;
    background-color: #453b3b;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .g1 .redes-sociales a:hover{
    background-color:rgb(255, 255, 255);
}

.pie-pagina .g2{
    background-color: #6d4e4e;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    color: #fff;

}

.footer-container{
    width: 100%;
    padding-top: 25px;
    background-color: #333;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.menu_opciones{
    padding-top: 15px;
    text-align: right;
    width: 100%;
}

.menu_opciones ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu_opciones a{
    display: inline-block;
    color: white;
    padding: 24px 26px;
    text-decoration: none;
}

.logo {
    width: 200px;
    height: 100px;
}

.logo img{
    border: 3px solid black;
    border-radius: 50% / 75% 50%;
}

.parrafo1-container{
    height: 222px;
    background-color: red;
    border: solid black 2px;
}

.parrafo1 {
    display: flex;
}

.parrafo1-img{
    float: left;
    margin: 0px;
}

.parrafo1-img img{
    border: 2px solid black;
    width: 300px;
    height: 220px;
    margin: 0px;
}

.parrafo2-container{
    border: solid black 2px;
}
.parrafo2{
    display: flex;
    height: 200px;
    background-color: white;
}

.parrafo2-img {
    float: right;
}
.parrafo2-img img{
    border: 2px solid black;
    width: 300px;
    height: 200px;
}

.fotos-container p{
    text-align: center;
}
.fotos-container img{
    margin-left: 350px;
    width: 800px;
    height: 400px;
}
